@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #000300;
  color: white;
  /* font-family: monospace; */
}

html {
  scroll-behavior: smooth;
}

/* #about {
  background-image: url(./assets/971.jpg);
  background-attachment: fixed;
  background-position: center;
} */
